.chats{
    // box-shadow: $shadow-neumorphism;
    // border-top-right-radius: 1rem;
    // border-bottom-right-radius: 1rem;

    .text-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4{
            color: $light;
        }

        .btn-create-new{
            width: 42px;
            height: 42px;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1em;
            color: #fff;
            box-shadow: $shadow-sm;
            background-color: $primary;
            border-radius: 50%;
            transition: all .4s ease;
            
            .add-icon{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:active{
                box-shadow: none;
            }
        }
    }

    .search-name{
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary;
        transition: all .4s ease;

        .search-icon{
            color: $reserve;
        }

        .search-input {
            color: $light;
            padding: 12px;
            background-color: transparent;
            border: none;
            outline: none;
        }

        &:focus-within{
            background-color: $reserve;
        }
    }

    .chat-content{
        overflow-y: auto;
        overflow-x: hidden;
        height: 78vh;
        
        button.conversations{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            width: 100%;           
            background-color: transparent; 
            text-align: left;
            margin-bottom: 5px;
            border-radius: 10px;
            transition: all .4s ease;

            &:hover{
                box-shadow: $shadow-sm;
                background-color: $secondary;
            }
        }
    }
}