.chats{
    // background-color: #fff;
    // box-shadow: $shadow-neumorphism;
    // border-top-right-radius: 1rem;
    // border-bottom-right-radius: 1rem;

    .text-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .create-new{
        // display: none;

        .btn-create-new{
            border: none;
            outline: none;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: $light;
            font-weight: 600;
            font-size: 1em;
            box-shadow: $shadow-neumorphism;
            border-radius: $radius;
            transition: all .4s ease;

            .add-icon{
                background-color: #0061f211;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .feather{
                    width: 20px;
                    height: 20px;
                }
            }
            
            &:active{
                box-shadow: $shadow-unset;
            }
        }
    }

    .search-name{
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f3f3f3;
        transition: all .4s ease;

        .search-input {
            padding: 12px;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .feather{
            width: 20px;
            height: 20px;
        }

        &:focus-within{
            background-color: #eee;
        }
    }

    .chat-content{
        overflow-y: auto;
        overflow-x: hidden;
        height: 65vh;
        
        .conversations{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            width: 100%;
            background-color: transparent;
            text-align: left;

            &:hover{
                background-color: unquote($primary + "11");
            }
        }
    }
}