.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .img-fluid-cover{
        display: flex;
        align-items: center;
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        transition: all .4s ease;
    }

    .img-fluid-cover-child{
        width: 24px !important;
        height: 24px !important;
    }

    .img-fluid-main{
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    .person-status{
        padding: 4px;
        border: 1px solid $light;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 5px;
        transition: all .4s ease;
    }

    .active{
        background-color: $success;
    }

    .idle{
        background-color: $warning;
    }

    .in-active{
        background-color: #777;
    }
}

.image-wrapper-group{
    margin-left: 3px;

    .img-fluid-group{
        display: flex;
        align-items: center;
        width: 22.5px;
        height: 22.5px;
        object-fit: cover;
        border-radius: 50%;
    }

    .count-members{
        position: absolute;
        bottom: 0;
        text-align: center;
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 25px;
        border-radius: 50%;
        color: #ddd;
    }
}

.persons-chat{
    display: flex;
    flex-direction: column;

    .persons-name{
        font-weight: 600;
        color: $light;
    }

    .persons-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        
        .text{
            width: 180px;
            transition: all .4s ease;
            font-weight: 500;
        }

        .datetime{
            transition: all .4s ease;
        }
    }

    .text-unread{
        font-weight: 600 !important;
        color: $light !important;
    }
}

.font-size-sm{
    font-size: 0.7em !important;
}

.font-weight-bolder{
    font-weight: 700 !important;
}

.rounded{
    border-radius: 10px !important;
}

.bg-primary, 
.btn-primary{
    background-color: $primary !important;
}

.btn{
    &:focus{
        box-shadow: 0 0 0 0.2rem unquote($primary + '40') !important;
    }
}

.text-primary{
    color: $primary !important;
}

button{
    font-family: $font-family !important;
}

// borders
.border{
    border-top: 1px solid $reserve !important;
}

.border-right{
    border-right: 1px solid $reserve !important;
}

.border-left{
    border-left: 1px solid $reserve !important;
}

.border-bottom{
    border-bottom: 1px solid $reserve !important;
}

.modal{
    background-color: rgba(0,0,0,0.4);

    .modal-content{
        box-shadow: $shadow-sm;
        border: $border !important;
        border-radius: 10px;
    }
}