.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .img-fluid-cover{
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .img-fluid-cover-child{
        width: 40px !important;
        height: 40px !important;
    }

    .person-status{
        padding: 5px;
        background-color: $success;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 5px;
        box-shadow: $shadow-sm;
    }
}

.persons-chat{
    display: flex;
    flex-direction: column;

    .persons-name{
        font-weight: 600;
    }

    .persons-text{
        font-size: 12px;
        width: 200px;
    }
}