.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .img-fluid-cover{
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .img-fluid-cover-child{
        width: 32px !important;
        height: 32px !important;
    }

    .img-fluid-main{
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    .person-status{
        padding: 5px;
        border: 3px solid white;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0px;
    }

    .active{
        background-color: $success;
    }

    .idle{
        background-color: $warning;
    }

    .in-active{
        background-color: #777;
    }
}

.persons-chat{
    display: flex;
    flex-direction: column;

    .persons-name{
        font-weight: 600;
    }

    .persons-text{
        font-size: 12px;
        width: 200px;
    }
}

.font-size-sm{
    font-size: 0.7em !important;
}

.rounded{
    border-radius: 20px !important;
}

.bg-primary{
    background-color: $primary !important;
}