.conversation-info{
    .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .image-wrapper{
            .person-status{
                right: 10px !important;
            }
        }
    }

    .more-details{
        display: flex;
        flex-direction: column;

        button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            border: none;
            outline: none;
            padding: 12px 15px;
            border-radius: $radius;
            background-color: transparent;

            .feather{
                width: 20px;
                height: 20px;
            }

            &:hover{
                box-shadow: $shadow-neumorphism;
            }

            &:active{
                box-shadow: $shadow-unset;
            }
        }
    }
}