.inbox{

    .inbox-header{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $light;
        text-align: left;

        .more-options{
            position: absolute;
            right: 15px;

            button{
                border: none;
                outline: none;
                background-color: transparent;

                .feather{
                    width: 20px;
                    height: 20px;
                }

                &:hover{
                    color: $primary;
                }
            }
        }
    }

    .inbox-content{
        overflow-y: auto;
        height: 77vh;

        .text{
            display: flex;
            align-items: flex-end;
        }

        .text-wrapper{
            display: flex;
            flex-direction: column;

            .text-content{
                border: $border;
                padding: 12px;
                max-width: 75%;

                p{
                    font-weight: 500 !important;
                    margin-bottom: 0;
                }

                .date-time-left{
                    // display: none;
                    font-size: .7em;
                    color: #aaa;
                    font-weight: 300 !important;
                }

                .date-time-right{
                    // display: none;
                    font-size: .7em;
                    color: #ccc;
                    font-weight: 300 !important;
                }
            }
    
            .text-from{
                border-radius: 20px 20px 20px 2px;
                background-color: #677ae420;
            }

            .text-from-me{
                border-radius: 20px 20px 2px 20px;
                background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            }

            .text-content-missed-call{
                .feather{
                    transform: rotate(45deg);
                    width: 16px;
                    height: 16px;
                }

                .btn-call-back{
                    text-decoration: none;
                    color: $primary;
                }
            }

            .text-content-is-img{
                max-width: 50% !important;
                transition: all .4s ease;

                &:hover{
                    opacity: 0.8;
                }
            }
        }

        .text-wrapper-left{
            align-items: flex-start;
        }

        .text-wrapper-right{
            align-items: flex-end;
        }
    }
}

.message{
    position: relative;

    .message-content{
        box-shadow: $shadow-sm;
        border-radius: $radius;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            background-color: transparent;
            width: 40px;
            height: 40px;

            .feather{
                width: 20px;
                height: 20px;
            }

            &:hover{
                color: $primary;
            }
        }

        .btn-message-plus,
        .btn-message-send{
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 50%;
            color: #fff;

            &:hover{
                color: #eee;
            }
        }

        input{
            outline: none;
            border: none;
            padding: 12px;
            background-color: $light;
            flex: 1;
            border-radius: 20px;
        }

        &:focus-within{
            background-color: #fdfdfd;
        }
    }
}