.inbox{

    .inbox-header{
        display: flex;
        align-items: center;
        width: 100%;        
        text-align: left;

        .more-options{
            position: absolute;
            right: 15px;

            button{
                border: none;
                outline: none;
                background-color: transparent;
                color: $light;

                &:hover{
                    color: $primary;
                }
            }
        }
    }

    .inbox-content{
        overflow-y: auto;
        height: 77vh;

        .text{
            display: flex;
            align-items: flex-end;
        }

        .text-wrapper{
            display: flex;
            flex-direction: column;

            .text-content{
                padding: 12px;

                p{
                    font-weight: 500 !important;
                    margin-bottom: 0;
                    color: $light;
                }

                .date-time-left{
                    display: none;
                    font-size: .7em;
                    color: #aaa;
                    font-weight: 300 !important;
                }

                .date-time-right{
                    display: none;
                    font-size: .7em;
                    color: #ccc;
                    font-weight: 300 !important;
                }
            }
    
            .text-from{
                max-width: 60%;
                border-radius: 20px 20px 20px 2px;
                background-color: $reserve-2;
            }

            .text-from-me{
                max-width: 80%;
                border-radius: 20px 20px 2px 20px;
                background-color: $primary;
            }

            .text-content-missed-call{
                .btn-call-back{
                    text-decoration: none;
                    color: $primary;
                }
            }

            .text-content-is-img{
                padding: 0 !important;
                max-width: 50% !important;
                transition: all .4s ease;

                &:hover{
                    opacity: 0.8;
                }
            }
        }

        .text-wrapper-left{
            align-items: flex-start;
        }

        .text-wrapper-right{
            align-items: flex-end;
        }
    }
}

.message{
    position: relative;

    .message-content{
        box-shadow: $shadow-sm;
        border-radius: 10px;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            background-color: transparent;
            color: $light;
            width: 40px;
            height: 40px;

            &:hover{
                color: $primary;
            }
        }

        .btn-message-plus,
        .btn-message-send{
            background-color: $primary;
            border-radius: 50%;
            color: $light;
            box-shadow: $shadow-sm;

            &:hover{
                color: #fff;
            }

            &:active{
                box-shadow: none;
            }
        }

        input{
            outline: none;
            border: none;
            padding: 12px;
            background-color: transparent;
            flex: 1;
            border-radius: 10px;

            &:focus{
                box-shadow: 0 0 0 0.2rem unquote($primary + '40') !important;
            }
        }
    }
}