.inbox{

    .inbox-header{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        text-align: left;

        .more-options{
            position: absolute;
            right: 15px;

            button{
                border: none;
                outline: none;
                background-color: transparent;

                .feather{
                    width: 20px;
                    height: 20px;
                }

                &:hover{
                    color: $primary;
                }
            }
        }
    }

    .inbox-content{
        .text{
            display: flex;
            align-items: flex-start;
        }

        .text-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .text-content{
                background-color: #fff;
                box-shadow: $shadow-neumorphism;
                padding: 12px;

                p{
                    font-weight: 500;
                    margin-bottom: 0;
                    font-size: .9em;
                }

                .date-time-left{
                    font-size: .7em;
                    color: #aaa;
                    font-weight: 300 !important;
                }

                .date-time-right{
                    font-size: .7em;
                    color: #ddd;
                    font-weight: 300 !important;
                }
            }
    
            .text-from{
                border-radius: 20px 20px 20px 2px;
            }

            .text-from-me{
                border-radius: 20px 20px 2px 20px;
            }
        }
    }
}

.message{
    position: relative;

    .message-content{
        box-shadow: $shadow-neumorphism;
        border-radius: $radius;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        button{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 8px;

            .feather{
                width: 20px;
                height: 20px;
            }

            &:hover{
                color: $primary;
            }
        }

        .btn-message-plus,
        .btn-message-emoji{
            background-color: #0061f211;
            border-radius: 50%;
        }

        .rotate-send{
            transform: rotate(44deg);
        }

        input{
            outline: none;
            border: none;
            padding: 12px;
            background-color: $light;
            flex: 1;
            border-radius: 20px;
            font-size: .9em !important;
        }

        &:focus-within{
            background-color: #fdfdfd;
        }
    }
}