@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.6 !important;
  font-size: 0.9rem !important;
  color: #3e4044 !important;
  background-color: #f8fafc !important;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.image-wrapper .img-fluid-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.image-wrapper .img-fluid-cover-child {
  width: 32px !important;
  height: 32px !important;
}

.image-wrapper .img-fluid-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.image-wrapper .person-status {
  padding: 5px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0px;
}

.image-wrapper .active {
  background-color: #20c997;
}

.image-wrapper .idle {
  background-color: #ff9800;
}

.image-wrapper .in-active {
  background-color: #777;
}

.persons-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.persons-chat .persons-name {
  font-weight: 600;
}

.persons-chat .persons-text {
  font-size: 12px;
  width: 200px;
}

.chats .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chats .create-new .btn-create-new {
  border: none;
  outline: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 1em;
  -webkit-box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
          box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
  border-radius: 1rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.chats .create-new .btn-create-new .add-icon {
  background-color: #0061f211;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chats .create-new .btn-create-new .add-icon .feather {
  width: 20px;
  height: 20px;
}

.chats .create-new .btn-create-new:active {
  -webkit-box-shadow: inset 11px 11px 22px #e4e6e8, inset -11px -11px 22px #ffffff;
          box-shadow: inset 11px 11px 22px #e4e6e8, inset -11px -11px 22px #ffffff;
}

.chats .search-name {
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
          box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
  background-color: #f8f9fa;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.chats .search-name .search-input {
  padding: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.chats .search-name .feather {
  width: 20px;
  height: 20px;
}

.chats .search-name:focus-within {
  -webkit-box-shadow: inset 11px 11px 22px #e4e6e8, inset -11px -11px 22px #ffffff;
          box-shadow: inset 11px 11px 22px #e4e6e8, inset -11px -11px 22px #ffffff;
}

.chats .chat-content {
  overflow-y: auto;
  height: 65vh;
}

.chats .chat-content .conversations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.chats .chat-content .conversations:hover {
  background-color: #0061f211;
}

.inbox .inbox-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.inbox .inbox-header .more-options {
  position: absolute;
  right: 15px;
}

.inbox .inbox-header .more-options button {
  border: none;
  outline: none;
  background-color: transparent;
}

.inbox .inbox-header .more-options button .feather {
  width: 20px;
  height: 20px;
}

.inbox .inbox-header .more-options button:hover {
  color: #0061f2;
}

.inbox .inbox-content {
  overflow-y: auto;
  height: 70vh;
}

.inbox .inbox-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inbox .inbox-content .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inbox .inbox-content .text-wrapper .text-content {
  background-color: #fff;
  -webkit-box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
          box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
  padding: 12px;
  max-width: 75%;
}

.inbox .inbox-content .text-wrapper .text-content p {
  font-weight: 500;
  margin-bottom: 0;
  font-size: .9em;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-left {
  font-size: .7em;
  color: #aaa;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-right {
  font-size: .7em;
  color: #ddd;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-from {
  border-radius: 20px 20px 20px 2px;
}

.inbox .inbox-content .text-wrapper .text-from-me {
  border-radius: 20px 20px 2px 20px;
}

.inbox .inbox-content .text-wrapper-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inbox .inbox-content .text-wrapper-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message {
  position: relative;
}

.message .message-content {
  -webkit-box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
          box-shadow: 11px 11px 22px #e4e6e8, -11px -11px 22px #ffffff;
  border-radius: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message .message-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
}

.message .message-content button:hover {
  color: #0061f2;
}

.message .message-content .btn-message-plus,
.message .message-content .btn-message-send {
  background-color: #0061f211;
  border-radius: 50%;
}

.message .message-content .rotate-send {
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

.message .message-content input {
  outline: none;
  border: none;
  padding: 12px;
  background-color: #f8f9fa;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 20px;
}

.message .message-content:focus-within {
  background-color: #fdfdfd;
}

.conversation-info .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conversation-info .avatar .image-wrapper .person-status {
  right: 10px !important;
}

.conversation-info .more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conversation-info .more-details button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 1rem;
  background-color: transparent;
}

.conversation-info .more-details button .feather {
  width: 20px;
  height: 20px;
}

.conversation-info .more-details button:hover {
  background-color: #0061f211;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0061f211;
}
/*# sourceMappingURL=style.css.map */