* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Montserrat", sans-serif !important;
  line-height: 1.6 !important;
  font-size: 0.9rem !important;
  color: #f8f9fa !important;
  background-color: #1a1926 !important;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.image-wrapper .img-fluid-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.image-wrapper .img-fluid-cover-child {
  width: 24px !important;
  height: 24px !important;
}

.image-wrapper .img-fluid-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.image-wrapper .person-status {
  padding: 4px;
  border: 1px solid #f8f9fa;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.image-wrapper .active {
  background-color: #20c997;
}

.image-wrapper .idle {
  background-color: #ff9800;
}

.image-wrapper .in-active {
  background-color: #777;
}

.image-wrapper-group {
  margin-left: 3px;
}

.image-wrapper-group .img-fluid-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22.5px;
  height: 22.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.image-wrapper-group .count-members {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 25px;
  border-radius: 50%;
  color: #ddd;
}

.persons-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.persons-chat .persons-name {
  font-weight: 600;
  color: #f8f9fa;
}

.persons-chat .persons-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.persons-chat .persons-text .text {
  width: 180px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-weight: 500;
}

.persons-chat .persons-text .datetime {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.persons-chat .text-unread {
  font-weight: 600 !important;
  color: #f8f9fa !important;
}

.font-size-sm {
  font-size: 0.7em !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.rounded {
  border-radius: 10px !important;
}

.bg-primary,
.btn-primary {
  background-color: #7744ec !important;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #7744ec40 !important;
          box-shadow: 0 0 0 0.2rem #7744ec40 !important;
}

.text-primary {
  color: #7744ec !important;
}

button {
  font-family: "Roboto", "Montserrat", sans-serif !important;
}

.border {
  border-top: 1px solid #3d3d53 !important;
}

.border-right {
  border-right: 1px solid #3d3d53 !important;
}

.border-left {
  border-left: 1px solid #3d3d53 !important;
}

.border-bottom {
  border-bottom: 1px solid #3d3d53 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0.0625rem solid rgba(231, 234, 243, 0.7) !important;
  border-radius: 10px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d1d2a;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  padding: 20px;
  border-left: 5px solid transparent;
}

.sidebar ul li a:hover {
  color: #7744ec !important;
  border-left: 5px solid #7744ec;
}

.sidebar ul li .active {
  color: #7744ec !important;
  border-left: 5px solid #7744ec;
}

.chats .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chats .text-header h4 {
  color: #f8f9fa;
}

.chats .text-header .btn-create-new {
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1em;
  color: #fff;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #7744ec;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.chats .text-header .btn-create-new .add-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chats .text-header .btn-create-new:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chats .search-name {
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d1d2a;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.chats .search-name .search-icon {
  color: #3d3d53;
}

.chats .search-name .search-input {
  color: #f8f9fa;
  padding: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.chats .search-name:focus-within {
  background-color: #3d3d53;
}

.chats .chat-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 78vh;
}

.chats .chat-content button.conversations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.chats .chat-content button.conversations:hover {
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: #1d1d2a;
}

.inbox .inbox-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
}

.inbox .inbox-header .more-options {
  position: absolute;
  right: 15px;
}

.inbox .inbox-header .more-options button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #f8f9fa;
}

.inbox .inbox-header .more-options button:hover {
  color: #7744ec;
}

.inbox .inbox-content {
  overflow-y: auto;
  height: 77vh;
}

.inbox .inbox-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inbox .inbox-content .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inbox .inbox-content .text-wrapper .text-content {
  padding: 12px;
}

.inbox .inbox-content .text-wrapper .text-content p {
  font-weight: 500 !important;
  margin-bottom: 0;
  color: #f8f9fa;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-left {
  display: none;
  font-size: .7em;
  color: #aaa;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-right {
  display: none;
  font-size: .7em;
  color: #ccc;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-from {
  max-width: 60%;
  border-radius: 20px 20px 20px 2px;
  background-color: #242434;
}

.inbox .inbox-content .text-wrapper .text-from-me {
  max-width: 80%;
  border-radius: 20px 20px 2px 20px;
  background-color: #7744ec;
}

.inbox .inbox-content .text-wrapper .text-content-missed-call .btn-call-back {
  text-decoration: none;
  color: #7744ec;
}

.inbox .inbox-content .text-wrapper .text-content-is-img {
  padding: 0 !important;
  max-width: 50% !important;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.inbox .inbox-content .text-wrapper .text-content-is-img:hover {
  opacity: 0.8;
}

.inbox .inbox-content .text-wrapper-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inbox .inbox-content .text-wrapper-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message {
  position: relative;
}

.message .message-content {
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #1d1d2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message .message-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f8f9fa;
  width: 40px;
  height: 40px;
}

.message .message-content button:hover {
  color: #7744ec;
}

.message .message-content .btn-message-plus,
.message .message-content .btn-message-send {
  background-color: #7744ec;
  border-radius: 50%;
  color: #f8f9fa;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
}

.message .message-content .btn-message-plus:hover,
.message .message-content .btn-message-send:hover {
  color: #fff;
}

.message .message-content .btn-message-plus:active,
.message .message-content .btn-message-send:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.message .message-content input {
  outline: none;
  border: none;
  padding: 12px;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
}

.message .message-content input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #7744ec40 !important;
          box-shadow: 0 0 0 0.2rem #7744ec40 !important;
}

.conversation-info .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conversation-info .avatar .image-wrapper .person-status {
  right: 10px !important;
}

.conversation-info .more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conversation-info .more-details button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 10px;
  font-weight: 500 !important;
  background-color: transparent;
  color: #f8f9fa;
}

.conversation-info .more-details button:hover {
  background-color: #1d1d2a;
  -webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1d1d2a;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3d3d53;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: unqoute("#3d3d53aa");
}
/*# sourceMappingURL=style.css.map */