@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.6 !important;
  font-size: 0.9rem !important;
  color: #3e4044 !important;
  background-color: #f8fafc !important;
}

.image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.image-wrapper .img-fluid-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.image-wrapper .img-fluid-cover-child {
  width: 40px !important;
  height: 40px !important;
}

.image-wrapper .person-status {
  padding: 5px;
  background-color: #20c997;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 5px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.persons-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.persons-chat .persons-name {
  font-weight: 600;
}

.persons-chat .persons-text {
  font-size: 12px;
  width: 200px;
}

.chats {
  -webkit-box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
          box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
  background-color: #fff;
}

.chats .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chats .create-new .btn-create-new {
  border: none;
  outline: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-weight: 600;
  font-size: 1em;
  -webkit-box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
          box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
  border-radius: 1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.chats .create-new .btn-create-new .add-icon {
  background-color: #0061f211;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chats .create-new .btn-create-new .add-icon .feather {
  width: 20px;
  height: 20px;
}

.chats .create-new .btn-create-new:active {
  -webkit-box-shadow: inset 16px 16px 32px #eceeef, inset -16px -16px 32px #ffffff;
          box-shadow: inset 16px 16px 32px #eceeef, inset -16px -16px 32px #ffffff;
}

.chats .search-name {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 16px 16px 32px #eceeef, inset -16px -16px 32px #ffffff;
          box-shadow: inset 16px 16px 32px #eceeef, inset -16px -16px 32px #ffffff;
  background-color: transparent;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.chats .search-name .search-input {
  padding: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}

.chats .search-name .feather {
  width: 20px;
  height: 20px;
}

.chats .chat-content {
  overflow-y: auto;
  height: 65vh;
}

.chats .chat-content .conversations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.chats .chat-content .conversations:hover {
  background-color: #0061f211;
}

.inbox .inbox-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.inbox .inbox-header .more-options {
  position: absolute;
  right: 15px;
}

.inbox .inbox-header .more-options button {
  border: none;
  outline: none;
  background-color: transparent;
}

.inbox .inbox-header .more-options button .feather {
  width: 20px;
  height: 20px;
}

.inbox .inbox-header .more-options button:hover {
  color: #0061f2;
}

.inbox .inbox-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inbox .inbox-content .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inbox .inbox-content .text-wrapper .text-content {
  background-color: #fff;
  -webkit-box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
          box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
  padding: 12px;
}

.inbox .inbox-content .text-wrapper .text-content p {
  font-weight: 500;
  margin-bottom: 0;
  font-size: .9em;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-left {
  font-size: .7em;
  color: #aaa;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-content .date-time-right {
  font-size: .7em;
  color: #ddd;
  font-weight: 300 !important;
}

.inbox .inbox-content .text-wrapper .text-from {
  border-radius: 20px 20px 20px 2px;
}

.inbox .inbox-content .text-wrapper .text-from-me {
  border-radius: 20px 20px 2px 20px;
}

.message {
  position: relative;
}

.message .message-content {
  -webkit-box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
          box-shadow: 16px 16px 32px #eceeef, -16px -16px 32px #ffffff;
  border-radius: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message .message-content button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px;
}

.message .message-content button .feather {
  width: 20px;
  height: 20px;
}

.message .message-content button:hover {
  color: #0061f2;
}

.message .message-content .btn-message-plus,
.message .message-content .btn-message-emoji {
  background-color: #0061f211;
  border-radius: 50%;
}

.message .message-content .rotate-send {
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

.message .message-content input {
  outline: none;
  border: none;
  padding: 12px;
  background-color: #f8f9fa;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 20px;
  font-size: .9em !important;
}

.message .message-content:focus-within {
  background-color: #fdfdfd;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0061f211;
}
/*# sourceMappingURL=style.css.map */